:root
{
    --padding: 8px;
    --half-padding: 4px;
    --margin: 16px;
    --border-thickness: 2px;
    --main-colour: #008080;
    --main-colour-off: #005050;
    --main-colour-off-alpha: #005050b0;
    --secondary-colour: #fffcdb;
    --secondary-colour-off: #f8f5d4;
}



@media screen and (min-width : 10px)
{
    :root
    {
        --slideShow-height: 44vw;
        --slideShow-width: 70vw;
        --post-height: 60vw;
        --content-width: 98%;
        --content-secondary-width: 98%;
    }
}
@media screen and (min-width : 100px)
{
    :root
    {
        --slideShow-height: 44vw;
        --slideShow-width: 70vw;
        --post-height: 60vw;
        --content-width: 98%;
        --content-secondary-width: 98%;
    }
}
@media screen and (min-width : 400px)
{
    :root
    {
        --slideShow-height: 44vw;
        --slideShow-width: 78.2vw;
        --post-height: 60vw;
        --content-width: 95%;
        --content-secondary-width: 70%;
    }
}
@media screen and (min-width : 700px)
{
    :root
    {
        --slideShow-height: 40vw;
        --slideShow-width: 71.1vw;
        --post-height: 40vw;
        --content-width: 40%;
        --content-secondary-width: 60%;
    }
}
@media screen and (min-width : 1000px)
{
    :root
    {
        --slideShow-height: 40vw;
        --slideShow-width: 71.1vw;
        --post-height: 20vw;
        --content-width: 40%;
        --content-secondary-width: 50%;
    }
}
@media screen and (min-width : 1300px)
{
    :root
    {
        --slideShow-height: 38vw;
        --slideShow-width: 67.5vw;
        --post-height: 20vw;
        --content-width: 40%;
        --content-secondary-width: 40%;
    }
}